<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<style>

html, body {
    margin: 0;
    padding: 0;
    border: 0;
}
#A, #B {
    position: absolute;
}
#A {
    top: 0px;
    width: 200px;
    bottom: 0px;
    background:white;
}
#B {
    top: 0px;
    left: 200px;
    right: 0;
    bottom: 0px;
    background:orange;
}

</style>
<script type="text/javascript">

$(document).ready(function(){
   $('button').click(function(){
  $('#B').toggle(
function() {
    $('#B').css('margin-left', '0')
}, function() {
    $('#B').css('margin-right', '200px')
})
});
});

</script>
</head>
<body>

  <div id="A">
    <button>
    toggle
  </button>
  </div>
  <div id="B">
</div>

</body>
</html>
