<md-content >
  <md-toolbar class="md-hue-2">
    <!-- <div id="nav" style="display:none;height=100%;width=250px;">
    </div> -->
    <div class="md-toolbar-tools">
      <!-- <md-button class="md-raised md-primary" ng-click="toggleLeft()"> -->
      <md-button class="md-raised md-primary" ng-click="toggleLeft()">
          <md-icon md-svg-icon="images/icons8-menu.svg"></md-icon>
      </md-button>
      <!-- <button type="button" name="button" onclick="openNav()"></button> -->
      <h2 flex md-truncate>Toolbar</h2>
    </div>
  </md-toolbar>
</md-content>
<!-- <script src="Controller/sideNav.js" charset="utf-8"></script> -->
<!-- <script type="text/javascript">
function closeNav(){
  var element= document.getElementbyId['nav'];
  element.style.display=none;

}

function openNav(){
  var element= document.getElementbyId['nav'];
  element.style.display=block;
}

</script> -->
