<md-dialog aria-label="{{items.name}}">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{items.name}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="assets/close.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
          <!-- <script>
          function addStars(stars){
            var HTML = ""; // Start the HTML string for concatenation
              for(var i=0; i<5; i++) {  // We need 5 stars
                var icoClass = i<stars ? "fa fa-star" : "fa fa-star-o"; // full or empty star?
                HTML += "<i class='"+ icoClass +"'></i>"; // concatenate stars
              }
               document.getElementById("stars").innerHTML = HTML;
          }
          </script> -->
            <img ng-src="{{items.image.large}}" class="md-card-image-dialog"  alt="Washed Out">
            <hr>
          <jk-rating-stars rating="items.rating" read-only="readOnly" ></jk-rating-stars>
            <p><strong>Description:-</strong>{{items.description}}</p>
        </md-dialog-content>
    </form>
</md-dialog>
