
 <mat-card class="card" fxLayout="column" fxLayoutAlign="center" fxFlex="40%">
    <mat-card-title fxLayoutAlign="center">
         <strong>Login</strong>
    </mat-card-title>
 
    <mat-card-content fxflex="45%">
        <div class="example-container" >
            <mat-form-field>
              <input matInput placeholder="Input">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Enter your password" [type]="'password'">
            </mat-form-field>
            <mat-card-actions fxLayoutAlign="center">	
              <button mat-raised-button color="primary" routerLink="/home">login</button>
            </mat-card-actions>	
          </div>
    </mat-card-content>

   </mat-card>